<div class="container">
  <div class="header">
    <h1>SpaceX Launch Programs</h1>
  </div>
  <span *ngIf="error"><h2>{{errorMsg}}</h2></span>
  <div class="full-content" *ngIf="!error">
    <div class="left-content">
      <h2>Filters</h2>
      <div class="yearSelect">
        <h3 style="color: gray;">Launch Year</h3>
        <div class="all-year">
          <button class="btn-style" [ngClass]="{'highlight':launch === yearSelectValue}"
            *ngFor="let launch of launchYears" (click)="loadLaunchYear(launch)">
            {{launch}}
          </button>
        </div>
      </div>
      <div class="Launch-success">
        <h3 style="color: gray ;">Successful Launch</h3>
        <div class="all-year">
          <button class="btn-style" (click)="toggleLaunch('Y')" [ngClass]="{'highlight':successLaunch === true}">
            True
          </button>
          <button class="btn-style" (click)="toggleLaunch('N')" [ngClass]="{'highlight':successLaunch === false}">
            False
          </button>
        </div>
      </div>
      <div class="Land-success">
        <h3 style="color: gray;">Successful Landing</h3>
        <div class="all-year">
          <button class="btn-style" (click)="toggleLand('Y')" [ngClass]="{'highlight':successLand === true}">
            True
          </button>
          <button class="btn-style" (click)="toggleLand('N')" [ngClass]="{'highlight':successLand === false}">
            False
          </button>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="launch-detail-container">
        <meta name="description" content="Simple website to keep track of all SpaceX launches till date.">
        <div class="card" *ngFor="let details of launch_details">
          <div class="card-image">
            <img data-src="{{details['image-link']}}" class="lazyload" alt="Launch Image">
          </div>
          <div class="card-content">
            <h2 class="card-title">{{details['launch-title']}} #{{details['launch-num']}} </h2>
            <ul class="card-detail">
              <li class="">
                <ul style="margin: 0px;padding: 0px;"><b>Mission Ids: </b>
                  <li *ngFor="let id of details['mission-id']">
                    {{id}}
                  </li>
                </ul>
              </li>
              <li class=""><b>Launch Year: </b>{{details['launch-year']}}</li>
              <li class=""><b>Successful Launch: </b>{{details['launch-Success']}}</li>
              <li class=""><b>Successful Landing: </b> {{details['land-success']}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="made_by">Made by Manpreet Chawla</h3>
</div>